# Virtual Environment
venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# VS Code Settings
.vscode/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db
